body{  
    background-color: black;
}

.Title{
    text-align: center;
    font-size:6em;

    /* Bungee font(imported) */
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: red 0.05em solid;
    
    position: relative;
    top: -0.5em;
}

.TitleBox{
    /* Bungee font(imported) */
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 60%;
    border: red 0.3em solid;
    text-align: center;
}

p{
    color: white;
    text-align: left;
    max-width: 90%;
}

.MainBox{
    width: 60%;
    border: red 0.3em solid;
    display: inline-block;
    vertical-align: auto;
}

.MainImage{
    width: 100%;
}

.Navigation{
    /* Bungee font(imported) */
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 60%;
    border: red 0.3em solid;
    text-align: center;

    float: right;
    width: 35%;
    padding-left: 0em;
    border: red 0.3em solid;
    height: 40.5em;
    position: relative;
    top: -8.5em;
}

